.new-post-container {
    width: 70%;
    /* Set to whatever suits your layout */
    margin: 2rem auto;
    /* Centering and giving some vertical space */
    background-color: #f5f5f5;
    /* Light grey background */
    border-radius: 10px;
    /* Rounded edges */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    /* Slight shadow for depth */
    padding: 2rem;
}

.new-post-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.post-creator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.post-title {
    flex: 3;
    /* Makes the input take more space than the dropdown */
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
}

.dropdown {
    margin-left: 20px;
}

.post-creator-middle {
    margin-bottom: 1.5rem;
}

.post-body {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 1rem;
    height: 200px;
    /* Set to a suitable initial height for your content */
    resize: vertical;
    /* Allows users to resize vertically only */
}

.post-creator-bottom {
    display: flex;
    justify-content: space-around;
    /* Aligns buttons to the right */
    gap: 1rem;
    /* Space between buttons */
}

.post-save-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #FFC107;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-save-btn:hover {
    background-color: #385F7C;
}

.post-cancel-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #f44336;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.post-cancel-btn:hover {
    background-color: #d32f2f;
}